.DS_Store

install/*
cert/*
gisicons/*
application/cache/*
application/cert/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

system/*

application/views/cache/*
application/config/*
!application/config/maps.php
mapcache/*
application/trashbin/*
uploads/*
freehandcache/*
captcha/*
