.DS_Store

install/*
cert/*
application/cache/*
application/config/*
!application/config/maps.php
application/cert/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

system/*

application/views/cache/*
application/trashbin/*
uploads/*
freehandcache/*
captcha/*
